ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

button {
    background-color: white;
    border: none;
}

.p-1 {
    padding: 10px;
}

.logo {
    width: 50%;
}

h3 {
    margin: 10px;
    font-weight: 350;
    font-family: 'Arial';
}

header {
    display: flex;
}

ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    

}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-family: 'Arial';


}